.headingOne {
    text-align: center;
    color: white;
}

.container {
    background-color: #fff;
    padding: 1.5rem;
    margin: 1.5rem 10rem;
    align-items: center;
    border-radius: .5rem;
}

.headingFive {
    text-align: center;
    color: rgb(211, 211, 211);
}

.p {
    text-align: center;
    font-size: 1.3rem;
}

@media (max-width: 768px) {
    .container {
        background-color: #fff;
        padding: 1.5rem;
        margin: 1rem 1rem;
        align-items: center;
        border-radius: .5rem;
    }
    .headingOne {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}