    .container {
        background: url("../public/images/header.jpg") no-repeat;
        background-size: auto 100%;
        background-color: white !important;
        background-position: 52%;
        height: 15vmax;
    }
    
    @media (max-width: 768px) {
        .container {
            height: 25vmax;
        }
    }
    
    @media (max-width: 420px) {
        .container {
            background-position: 30%;
        }
    }