    .container {
        background: url("../public/images/header.jpg") no-repeat;
        background-size: auto 100%;
        background-color: white !important;
        background-position: center;
        height: 15vmax;
        border-radius: 0 !important;
    }
    
    @media (max-width: 768px) {
        .container {
            height: 25vmax;
        }
    }