.headingOne {
    text-align: center;
    color: white;
}

.headingFive {
    text-align: center;
    color: rgb(211, 211, 211);
}

.custom-select#sortingSelect{
    width: 5% !important;
    float: right !important;
    margin-right:5% !important;
}

@media (max-width: 768px) { 
    .custom-select#sortingSelect{
        float: none !important;
        display: block !important;
        margin: 0 auto !important;
    }
}