.btnOverride {
    border-radius: 0% !important;
}

.a:focus {
    color: rgb(226, 226, 226)
}

.naviDropdown:global(#navigationDropdown) {
    margin-left: auto !important;
}

@media (max-width: 768px) {
    .naviDropdown:global(#navigationDropdown) {
        margin-left: 0 !important;
        text-align: center;
    }
}