.column {
    height: 80vh !important;
    overflow-y: scroll;
    padding: 0;
}

@media (max-width: 767px) {
    .column {
        height: 25vh !important;
    }
    #instrumentPanel {
        height: 45vh !important;
    }
}

@media (max-width: 576px) {}