.column {
    height: 80vmin !important;
    overflow-y: scroll;
    padding: 0;
}

@media (max-width: 767px) {
    .column {
        height: 20vh !important;
    }
    #instrumentPanel {
        height: 40vh !important;
    }
}

@media (max-width: 576px) {}